<!DOCTYPE html>

<header>
<title>Tierdatenbank</title>
<meta charset="utf-8">
<link href="css/erm3style.css" rel="stylesheet" type="text/css">
</header>

<body>
<h4><a href="/">Startseite</a></h4>
<h1>Unterrichtsthema des 19.08.2021</h1>

<p>Heute haben wir uns mit dem Entity Relationship Model beschäftigt. 
<br>Dies haben wir auch schon letzte Stunde getan, aber heute haben wir es auf erweiterter Ebene durchgeführt, nämlich mit 3 Entitys.</p>

<h3>Vielen dank für ihre Aufmerksamkeit!</h3>

</body>