<!DOCTYPE html>

<header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet"> 
<title>Erklärung Schichtenmodell</title>
<meta charset="utf-8">
<link href="css/smodellstyle.css" rel="stylesheet" type="text/css">
</header>

<body>
<h4><a href="/">Startseite</a></h4>
<h1>Das 3-Ebenen-Modell</h1>


	<p><span style="font-size:2rem; text-decoration:underline;">Externe Ebene</span><br>
	<br>Benutzersicht auf die Daten</p>

	<p><span style="font-size:2rem; text-decoration:underline;">Konzeptionelle Ebene</span><br>
	<br>Logische Gesamtsicht auf die Daten und deren Strukturen</p>

	<p><span style="font-size:2rem; text-decoration:underline;">Interne Ebene</span><br>
	<br>Physische Gesamtsicht auf die Daten</p>
	

<h3>Vielen Dank für Ihre Aufmerksamkeit!</h3>

</body>



