<!DOCTYPE html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>poordbird store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/collectionsstyle.css">
    </head>
    <body>
        <div class="nothing">nothing here yet.</div>
        <div class="back">
        <a href="/">[go back]</div>
        </div>
    </body>
</html>