<!DOCTYPE html>

<head>
<title>INFO LK12 - Tests</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<meta charset="utf-8">
<link href="css/teleks.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- Take out after Completion!!!!!

<meta http-equiv="refresh" content="2" >


-->
</head>

<body>
	<nav>
		<div class="logo">
			<a href="/"><img src="logo.svg" alt="logo"></a>
		</div>
			<ul class="nav-links">
				<li id="themen" onmouseover="tmouseOver()" onmouseout="tmouseOut()">
					<div id="themendiv" class="dropdown1">	
						<a href="term">Themen</a>
							<!--<div class="dropdown-content1">
								<a href="tsql">SQL</a>
								<a href="tsmodell">Schichtenmodell</a>
								<a href="ttransformierung">Vom ERM ins RM</a>
								<a href="term">Entity-Relationship-Modell</a>
							</div> -->
					</div>
				</li>
				<li id="tests" onmouseover="temouseOver()" onmouseout="temouseOut()">
					<div class="dropdown1">	
						<a class="active" href="teleks">Tests</a>
							<!-- <div class="dropdown-content1">
								<a href="teklausuren">Klausuren</a>
								<a href="teleks">LEKs</a>
							</div> -->
					</div>
				</li>
				<li id="ersteller" onmouseover="mouseOver()" onmouseout="mouseOut()">
					<div id="erstellerdiv" class="dropdown1">	
						<a href="emicha">Ersteller</a>
							<!-- <div class="dropdown-content1">
								<a href="earne">Arne</a>
								<a href="emicha">Micha</a>
							</div> -->
					</div>
				</li>
				<li id="unterrichtszeiten" onmouseover="mouseOver()" onmouseout="mouseOut()">
					<div id="unterrichtszeitendiv" class="dropdown1">	
						<a href="umontag">Unterrichtszeiten</a>
							<!-- <div class="dropdown-content1">
								<a href="umontag">Unterricht Montag</a>
								<a href="udienstag">Unterricht Dienstag</a>
								<a href="umittwoch">Unterricht Mittwoch</a>
								<a href="udonnerstag">Unterricht Donnerstag</a>
								<a href="ufreitag">Unterricht Freitag</a>
							</div> -->
					</div>
				</li>
			</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
		<!-- <a class="cta" href="#"><button>Contact</button></a> -->
	</nav>

	<h1>Bis jetzt haben wir noch keine Tests geschrieben.</h1>
	<h2>Schau gern später nochmal vorbei.</h2>

	<script src="js/script.js"></script>

</body>



