<!DOCTYPE html>

<head>
<title>INFO LK12 - Themen</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<meta charset="utf-8">
<link href="css/termstyle.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="shortcut icon" type="image/jpg" href="favicon.png"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- Take out after Completion!!!!!

<meta http-equiv="refresh" content="2" >


-->
</head>

<body>
	<nav>
		<div class="logo">
			<a href="/"><img src="logo.svg" alt="logo"></a>
		</div>
			<ul class="nav-links">
				<li id="themen" onmouseover="tmouseOver()" onmouseout="tmouseOut()">
					<div class="dropdown1">	
						<a class="active" href="term">Themen</a>
							<!--<div class="dropdown-content1">
								<a href="tsql">SQL</a>
								<a href="tsmodell">Schichtenmodell</a>
								<a href="ttransformierung">Vom ERM ins RM</a>
								<a href="term">Entity-Relationship-Modell</a>
							</div> -->
					</div>
				</li>
				<li id="tests" onmouseover="temouseOver()" onmouseout="temouseOut()">
					<div id="testsdiv" class="dropdown1">	
						<a href="teleks">Klausuren</a>
							<!-- <div class="dropdown-content1">
								<a href="teklausuren">Klausuren</a>
								<a href="teleks">LEKs</a>
							</div> -->
					</div>
				</li>
				<li id="ersteller" onmouseover="mouseOver()" onmouseout="mouseOut()">
					<div id="erstellerdiv" class="dropdown1">	
						<a href="emicha">Ersteller</a>
							<!-- <div class="dropdown-content1">
								<a href="earne">Arne</a>
								<a href="emicha">Micha</a>
							</div> -->
					</div>
				</li>
				<li id="unterrichtszeiten" onmouseover="mouseOver()" onmouseout="mouseOut()">
					<div id="unterrichtszeitendiv" class="dropdown1">	
						<a href="umontag">Unterrichtszeiten</a>
							<!-- <div class="dropdown-content1">
								<a href="umontag">Unterricht Montag</a>
								<a href="udienstag">Unterricht Dienstag</a>
								<a href="umittwoch">Unterricht Mittwoch</a>
								<a href="udonnerstag">Unterricht Donnerstag</a>
								<a href="ufreitag">Unterricht Freitag</a>
							</div> -->
					</div>
				</li>
			</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
		<!-- <a class="cta" href="#"><button>Contact</button></a> -->
	</nav>

	<div class="text">
		<h1>Unsere Unterrichtsthemen</h1>
			<br>
			<br>

			<h2>Das 3-Schichtenmodell</h2>
			<img class="schichtenpic" src="schichten.svg" alt="Das 3-Schichtenmodell">
			<span><h3>Die Schichten:</h3>
				Die <b>GUI-Schicht</b> ist für die Darstellung aller Daten und für die Dialogführung zuständig.
				<br>
				<br>

				In der <b>Fachkonzeptschicht</b> wird der Kern der Anwendung losgelöst von Speicherung und Präsentation festgelegt. Für den Austausch mit der Benutzungsoberfläche werden Standardmethoden (setAttribut und getAttribut) zur Verfügung gestellt. Die Fachkonzeptschicht besitzt kein Wissen über die Benutzungsoberfläche. Bei einer Änderung der Benutzungsoberfläche muss das Fachkonzept nicht angepasst werden.
				<br>
				<br>
				Die <b>Datenhaltungsschicht</b> sorgt für die Datenspeicherung, z. B. in einer Datenbank. Die GUI-Schicht weiß nicht wie der Zugriff auf die Daten erfolgt.</span>
			<br>
			<br>
			<h2>Entity-Relationship-Modell</h2>
				<img class="ermpic" src="Entity-Relationship-Modell.svg" alt="Entity-Relationship-Modell">
				<br>
				<span class="text1">Das Entity-Relationship-Modell – kurz ER-Modell oder ERM; deutsch so viel wie: Modell (zur Darstellung) <br>
				    von Dingen, Gegenständen, Objekten (= ‚entities‘) und der Beziehungen/Zusammenhänge zwischen diesen (= ‚relationship‘) – dient dazu, 
					<br> im Rahmen der semantischen Datenmodellierung den in einem gegebenen Kontext <br> (z. B. einem Projekt zur Erstellung eines Informationssystems) relevanten Ausschnitt der realen Welt zu bestimmen und darzustellen.</span>
			<br>
			<br>
				<h2>Transformieren - Vom ERM ins RM</h2>
				<span><h3>Entitätstypen:</h3>
					Jeder Entitätstyp wird in ein eigenes Relationsschema (Tabelle) abgebildet.
					Schlüssel werden kenntlich gemacht.
					<br>
					<br>
					<h3>Beziehungstypen:</h3>
					Jeder Beziehungstyp wird in ein eigenes Relationsschema abgebildet. 
					Die Primärschlüssel der beiden beteiligten Entitätstypen werden zusätzliche Attributen des Relationsschemas. 
					</span>
					<table>
					<tr>
						<th>Typ</th>
						<th>Schlüssel</th>
					</tr>
					<tr>
						<td>1:1</td>
						<td>einer der Primärschlüssel der beiden beteiligten Entitätstypen</td>
					</tr>
					<tr>
						<td>1:n</td>
						<td>der Primärschlüssel des zweiten Entitätstyps (also der "n-Entität") </td>
					</tr>
					<tr>
						<td>n:m</td>
						<td>beide Primärschlüssel der beteiligten Entitätstypen</td>
					</tr>
					<br>
					</table>	
					<br>
					<br>
					<h2>Transformationsregeln</h1>
						<br>
						<h3>Die 1. Transformationsregel:</h3>
						<span>Jeder Entitätstyp wird als Tabelle (Relation) dargestellt. Der Schlüssel des Enitätstyps wird Schlüssel der Tabelle.</span>
						<br>	
						<br>
						<h3>Die 2. Transformationsregel:</h3>
						<span>Jede n : m - Beziehung wird durch eine eigene Tabelle dargestellt.</span>
						<br>
						<br>
						<h3>Die 3. Transformationsregel:</h3>
						<span>Jede 1:n und 1:1 - Beziehung, die eigene Attribute hat,  wird durch eine eigene Tabelle dargestellt.</span>
						<br><br>
						<h3>Die 4. Transformationsregel:</h3>
						<span>Hat eine 1:n  - Beziehung keine eigenen Attribute dann gilt: <br>
							Ist eine Entität aus E2 zwingendes Mitglied (d. h. genau 1) einer 1 : n - Beziehung mit einer Entität aus E1, dann erhält E2 den primären Schlüssel von E1 als Attribut. <br>
							Sofern eine Entität aus E2 freies Mitglied (d. h. 0,1 - konditionell) der 1 : n - Beziehung mit einer Entität aus E1 ist, <br> wird diese Beziehung gewöhnlich in einer eigenen Relation dargestellt.
							<br>
							<br>
							Diese Bedingungen gelten für 1:1 und 1: n - Beziehungen.</span>
						<br>
							<br>
							<br>
					<h2>Normalformen</h1>
						<br>
						<h3>Ziele der Normalisierung:</h3>
						<span>Eliminieren von Redundanzen und Vermeiden von Anomalien.</span>

						<br>
						<br>
						<h3>Die 1. Normalform:</h3>
						<span>Eine Tabelle liegt in der ersten Normalform vor, wenn jeder Attributwert eine atomare, nicht weiter zerlegbare Dateneinheit ist.</span>
						<br>
						<br>
						<h3>Die 2. Normalform:</h3>
						<span>
							Eine Tabelle liegt in der zweiten Normalform (2NF) vor, wenn sie in der 1NF ist und jedes Nichtschlüsselattribut voll funktional abhängig vom Primärschlüssel ist.</span>
							<br>
							<br>
						<h3>Die 3. Normalform:</h3>
						<span>Eine Tabelle liegt in der dritten Normalform (3NF) vor, wenn sie  sich in der 2NF befindet und jedes Nichtschlüsselattribut nicht transitiv abhängig vom Primärschlüssel ist</span>
						<br>
						<br>
						<br>
				<h2>SQL - Structured Query Language</h2>
					<span>Eine Standartsprache, um Datenbankenstrukturen zu erstellen sowie die darin enthaltenen Daten abzufragen, zu verwalten und zu bearbeiten.</span>
					<br>
					<br>
					<h3>Meistgenutzte Befehle:</h3>
					<span>SELECT: Ein Befehl, mit dem man Daten entweder zur Anschauung oder zur Weiterverarbeitung auswählt. <br> Man wählt mit FROM den Ort aus und kann mit WHERE speziell nach Attributen filtern.</span>
					<h4>Beispiel: SELECT Spaltenname FROM Tabellenname WHERE Spaltenname1 Attribut1</h4>
					<br>
					<span>CREATE: Ein Befehl, mit dem man Datenbanken erstellen kann.</span> 
					<h4>Beispiel: CREATE TABLE Tabellenname (Spaltenname, Datentyp);</h4>
					<br>
					<span>INSERT: Ein Befehl, mit dem man Daten in eine Datenbank einsetzen kann.</span>
					<h4>Beispiel: INSERT INTO tabellen_name (spalte1, spalte2, spalte3, etc.) VALUES ('Wert1', 'Wert2', 'Wert3', etc.)
					</h4>
					<br>
					<span>DELETE: Ein Befehl, mit dem man Daten löschen kann.</span>
					<h4>Beispiel: DELETE FROM Tabellenname WHERE Attribut</h4>
			<br>
	</div>

	<script src="js/script.js"></script>

</body>



