<!DOCTYPE html>

<header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet"> 
<title>Erklärung Schichtenmodell</title>
<meta charset="utf-8">
<link href="css/ermstyle.css" rel="stylesheet" type="text/css">
</header>

<body>
<h4><a href="/">Startseite</a></h4>
<h1>Entity-Relationship-Modell</h1>

<img src="erm.gif" alt="Erklärung des Aufbaus eines ERMs">

<h3>Vielen Dank für Ihre Aufmerksamkeit!</h3>

</body>