<!DOCTYPE html>

<header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet"> 
<title>Tierdatenbank</title>
<meta charset="utf-8">
<link href="css/transformierungstyle.css" rel="stylesheet" type="text/css">
</header>

<body>
<h4><a href="/">Startseite</a></h4>
<h1>Unterrichtsthema des 26.08.2021</h1>

<table>
	<tr>
		<th>Tiere</th>
		<th>Länder</th>
		<th>Autos</th>
	</tr>
	<tr>
		<td>Nummer</td>
		<td>Name</td>
		<td>Name</td>
	</tr>
	<tr>
		<td>Rasse</td>
		<td>Temperatur</td>
		<td>Nummer</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>Größe</td>
		<td>Modell</td>
	</tr>
	<tr>
		<td>Geschlecht</td>
		<td>Vegetation</td>
		<td>Hersteller</td>
	</tr>
	<tr>
		<td>Besonderheit</td>
		<td></td>
		<td>Antriebsart</td>
	</tr>
	<tr>
		<td>Größe</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Nahrung</td>
		<td></td>
		<td></td>
	</tr>
</table>

<p>Heute haben wir uns damit beschäftigt, wie man ein ERM in ein RM (Relationales-Modell) verwandelt.
<p>Hierzu gibt es auch noch <a class="video" href="https://www.youtube.com/watch?v=XX7pM5hXXmk">ein Erklärvideo.</a></p>

<h3>Vielen dank für ihre Aufmerksamkeit!</h3>

</body>