@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    background: #4A1942;
}

.nothing{
    margin-top: 35vh;
    text-align: center;
    font-family: 'Sedgwick Ave Display', sans-serif;
    color: #00e600;
    font-size: 50px;
}

.back{
    text-align: center;
    font-size: 20px;
}

.back a{
    text-decoration: none;
    color: black;
}