body {
	background-color: #fff;
  }
  
  #center {
	text-align: center;
	padding: 60px;
  }
  
  @keyframes ThePastIs {
	  0% {transform: translate(300px, 0px);
		  opacity:0;}
	  12% {transform: translate(-4px, 0px);}
	  21% {transform: translate(0px, 0px);}
	  30% {transform: translate(0px, 0px);
		  opacity:1;}
	42% {transform: translate(0px, 0px);
		   opacity:1;}
	  44% {transform: translate(300px, 0px);
		   opacity:0;}
	  100% {transform: translate(300px, 0px);
	opacity:0;}
  }
  
  #ThePastIsAnimation {
	animation-name: ThePastIs;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes NeverAnimate {
	  0% {transform: translate(200px, 0px);
		  opacity:0;}
	 6% {transform: translate(200px, 0px);
	  opacity:0;}
	  12% {transform: translate(0px, 0px);
	opacity:1;}
	  42% {transform: translate(0px, 0px);
		   opacity:1;}
	  44% {transform: translate(200px, 0px);
		   opacity:0;}
	  100% {transform: translate(200px, 0px);
	opacity:1;}
  }
  
  #NeverMotion {
	animation-name: NeverAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes DeadAnimate {
	  0% {transform: translate(-200px, 0px);
		  opacity:0;}
	 7% {transform: translate(-200px, 0px);
	  opacity:0;}
	  16% {transform: translate(0px, 0px);
	opacity:1;}
	42% {transform: translate(0px, 0px);
		   opacity:1;}
	  44% {transform: translate(-200px, 0px);
		   opacity:0;}
	  100% {transform: translate(-200px, 0px);
	opacity:1;}
  }
  
  #DeadMotion {
	animation-name: DeadAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes ItsAnimate {
	  0% {transform: translate(200px, 0px);
		  opacity:0;}
	  20% {transform: translate(200px, 0px);
		  opacity:0;}
	  28% {transform: translate(-1px, 0px);
		  opacity:1;}
	  36% {transform: translate(0px, 0px);
		  opacity:1;}
	  42% {transform: translate(0px, 0px);
		   opacity:1;}
	  44% {transform: translate(200px, 0px);
		   opacity:0;}
	  100% {transform: translate(200px, 0px);
	opacity:1;}
  }
  
  #ItsMotion {
	animation-name: ItsAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes NotAnimate {
	  0% {transform: translate(-200px, 0px);
		  opacity:0;}
	  20% {transform: translate(-200px, 0px);
		  opacity:0;}
	  28% {transform: translate(1px, 0px);
		  opacity:1;}
	  36% {transform: translate(0px, 0px);
		  opacity:1;}
	  42% {transform: translate(0px, 0px);
		   opacity:1;}
	  44% {transform: translate(-200px, 0px);
		   opacity:0;}
	  100% {transform: translate(-200px, 0px);
		   opacity:0;}
  }
  
  #NotMotion {
	animation-name: NotAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  #EvenPastMotion {
	animation-name: NotAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes WilliamFade {
	  0% {opacity:0;}
	  20% {opacity:0;}
	  34% {opacity:1;}
	  100% {opacity:1;}
  }
  
  #William {
	animation-name: WilliamFade;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes FaulknerMotion {
	  0% {transform: translate(0px, 0px);
	opacity:0;}
	22% {transform: translate(0px, 0px);
	  opacity:0;}
	40% {transform: translate(0px, 0px);
	  opacity:1;}  
	  60% {transform: translate(0px, 0px);
	opacity:1;}
	  62% {transform: translate(-80px, 0px);
	opacity:0;}
	  100% {transform: translate(-80px, 0px);} 
  }
  
  #FaulknerText {
	animation-name: FaulknerMotion;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes GibsonMotion {
	  0% {transform: translate(-80px, 0px);
	opacity:0;}
	  61% {transform: translate(-80px, 0px);
	opacity:0;}
	  63% {transform: translate(0px, 0px);} 
	  66% {opacity:1;};
	  100% {transform: translate(0px, 0px);
	opacity:1;} 
  }
  
  #GibsonText {
	animation-name: GibsonMotion;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes TheFutureIsAnimate {
	  0%  {transform: translate(300px, 0px);
		  opacity:0;}
	  41% {transform: translate(300px, 0px);
		  opacity:0;}
	  52% {transform: translate(-4px, 0px);}
	  71% {transform: translate(0px, 0px);}
	  80% {transform: translate(0px, 0px);
		  opacity:1;}
	92% {transform: translate(0px, 0px);
		   opacity:1;}
	  94% {transform: translate(300px, 0px);
		   opacity:0;}
	  100% {transform: translate(300px, 0px);
	opacity:0;}
  }
  
  #TheFutureIsMotion {
	animation-name: TheFutureIsAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes AlreadyAnimate {
	  0%  {transform: translate(300px, 0px);
		  opacity:0;}
	  44% {transform: translate(300px, 0px);
		  opacity:0;}
	  57% {transform: translate(2px, 0px);}
	  71% {transform: translate(4px, 0px);}
	  80% {transform: translate(4px, 0px);
		  opacity:1;}
	92% {transform: translate(4px, 0px);
		   opacity:1;}
	  94% {transform: translate(300px, 0px);
		   opacity:0;}
	  100% {transform: translate(300px, 0px);
	opacity:0;}
  }
  
  #AlreadyMotion {
	animation-name: AlreadyAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes HereAnimate {
	  0%  {transform: translate(-300px, 0px);
		  opacity:0;}
	  44% {transform: translate(-300px, 0px);
		  opacity:0;}
	  57% {transform: translate(1px, 0px);}
	  71% {transform: translate(0px, 0px);}
	  80% {transform: translate(0px, 0px);
		  opacity:1;}
	92% {transform: translate(0px, 0px);
		   opacity:1;}
	  94% {transform: translate(-300px, 0px);
		   opacity:0;}
	  100% {transform: translate(-300px, 0px);
	opacity:0;}
  }
  
  #HereMotion {
	animation-name: HereAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes ItsJustAnimate {
	  0%  {transform: translate(300px, 0px);
		  opacity:0;}
	  55% {transform: translate(300px, 0px);
		  opacity:0;}
	  63% {transform: translate(-1px, 0px);}
	  71% {transform: translate(0px, 0px);}
	  80% {transform: translate(0px, 0px);
		  opacity:1;}
	92% {transform: translate(0px, 0px);
		   opacity:1;}
	  94% {transform: translate(300px, 0px);
		   opacity:0;}
	  100% {transform: translate(300px, 0px);
	opacity:0;}
  }
  
  #ItsJustMotion {
	animation-name: ItsJustAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes NotVeryAnimate {
	  0%  {transform: translate(-300px, 0px);
		  opacity:0;}
	  55% {transform: translate(-300px, 0px);
		  opacity:0;}
	  63% {transform: translate(1px, 0px);}
	  71% {transform: translate(0px, 0px);}
	  80% {transform: translate(0px, 0px);
		  opacity:1;}
	92% {transform: translate(0px, 0px);
		   opacity:1;}
	  94% {transform: translate(-300px, 0px);
		   opacity:0;}
	  100% {transform: translate(-300px, 0px);
	opacity:0;}
  }
  
  #NotVeryMotion {
	animation-name: NotVeryAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes EvenlyAnimate {
	  0%  {transform: translate(300px, 0px);
		  opacity:0;}
	  55% {transform: translate(300px, 0px);
		  opacity:0;}
	  63% {transform: translate(-1px, 0px);}
	  71% {transform: translate(0px, 0px);}
	  80% {transform: translate(0px, 0px);
		  opacity:1;}
	92% {transform: translate(0px, 0px);
		   opacity:1;}
	  94% {transform: translate(300px, 0px);
		   opacity:0;}
	  100% {transform: translate(300px, 0px);
	opacity:0;}
  }
  
  #EvenlyMotion {
	animation-name: EvenlyAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  @keyframes DistributedAnimate {
	  0%  {transform: translate(-300px, 0px);
		  opacity:0;}
	  55% {transform: translate(-300px, 0px);
		  opacity:0;}
	  63% {transform: translate(-2px, 0px);}
	  71% {transform: translate(-4px, 0px);}
	  80% {transform: translate(-4px, 0px);
		  opacity:1;}
	92% {transform: translate(-4px, 0px);
		   opacity:1;}
	  94% {transform: translate(-300px, 0px);
		   opacity:0;}
	  100% {transform: translate(-300px, 0px);
	opacity:0;}
  }
  
  #DistributedMotion {
	animation-name: DistributedAnimate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  }
  
  #TheFutureBlank {
	opacity: 0;
  }