$duration: 1s;

.definition {
	dt {
		opacity:0;
		overflow-y: hidden;
		animation: stagger-in $duration $duration ease forwards;
		.bullet {
			transform: scale(0);
			animation: definition-appear $duration/3 $duration*2.5 cubic-bezier(0.26, 0.15, 0.43, 1.42) forwards;
		}
		span:nth-child(3) {
			position: absolute;
			transform: translate(-10px);
			animation: definition-slide-here $duration/2 $duration*2.2 ease forwards;
		}
		.pronunciation {
			transform: translate(-75%);
			animation: definition-slide $duration $duration+($duration/2) ease forwards;
		}
	}
	dd {
		opacity:0;
		animation: stagger-in $duration $duration*2 ease forwards;
		&:nth-child(2) {
			animation: stagger-in $duration/2 $duration*2+.8s ease forwards;
		}
		&:nth-child(3) {
			animation: stagger-in $duration/2 $duration*2+1.8s ease forwards;
		}
		&:nth-child(4) {
			animation: stagger-in $duration/2 $duration*2+2.8s ease forwards;
		}
	}
	
}


@keyframes definition-slide-here {
	0% {
		transform: translate(-10px);
		-moz-transform: translate(-10px);
	}
	100% {
		transform: translate(15px);
		-moz-transform: translate(15px);
	}
}

@keyframes definition-slide {
	0% {
		transform: translate(-75%);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes definition-appear {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.section {
	margin: 4rem 0 !important;
}

.visit {
	margin: 100px auto 0 auto;
	text-align: center;
}