@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

h1 {
color:black;	
text-align: center;
text-decoration: none;
background: lightblue;
padding: 2vh;
font-family: 'IBM Plex Sans';
}

h3{
margin-top: 5%;
font-size: 30px;
text-align: center;
}

h4{
position:absolute;
}

a{
text-decoration: none;
color:black;
}

p{
margin-left: auto;
margin-right: auto;
width: 25em;
text-align: center;
margin-top: 50px;
border: 2px solid red;
padding: 10px;
}
