@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: #4A1942;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 11vh;
  background-color: #4A1942;
  font-family: 'Sedgwick Ave Display', sans-serif;
}

.logo{
  color: #00e600;
  text-transform: lowercase;
  font-size: 30px;
  font-family: 'Sedgwick Ave Display', sans-serif;
  cursor: not-allowed;
}

.nav-links{
  display: flex;
  width: 52%;
  justify-content: space-around;
}

.nav-links li{
  list-style: none;
}

.nav-links li:hover{
  text-shadow: 4px 4px #006622;
}

.nav-links a{
  text-decoration: none;
  color: #b3ffb3;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: bold;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

.line1, .line3{
  width: 25px;
  height: 3px;
}

.line2{
  width: 22px;
  height: 3px;
}

@media screen and (max-width: 768px){
  body{
      overflow-x: hidden;
      position: relative;
  }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 10vh;
      display: flex;
      background-color: gray;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
      opacity: 0;
  }
  .burger{
      display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}