@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

h1 {
color:black;	
text-align: center;
text-decoration: none;
background: lightblue;
padding: 2vh;
font-family: 'IBM Plex Sans';
}

h3{
margin-top: 2%;
font-size: 30px;
text-align: center;
}

h4{
position:absolute;
}

a{
text-decoration: none;
color:black;
}

.video{
text-decoration: underline;
color: lightblue;
}

p{
font-size: 20px;
margin-left: 2%;
margin-top: 2%;
}

