@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background: #25283D;
    color: #efd9ce;
    font-size: 20px;
  }

.ole{
    margin-left: 30px;
}

